<div class="card-columns">
    <div @fade *ngFor="let course of courses" class="card" style="width: 25rem;">
        <div class="card-header">
            <img class="card-image" width="350" height="auto"src="{{course.url}}" alt="">
            <h4 class="card-title">{{course.name}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{courseDesc }}</p>
        </div>
        <div class="card-footer">
            <a href="#">more</a>
        </div>
    </div>
</div>
