.main-content{
  width: 700px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.534);
  padding: 10px;
  border-radius: 1%;
}

.main-content.header{
  margin-left: 250px;
  border: 0px;
}

.main-content.pic{
  width: 650px;
  height: auto;
  border: 0px;
  margin-left: 15px;
}
